/**
 * @file
 * Admin styles for the Database Logging module.
 */
.mongodb-watchdog-filter-form .form-item-type,
.mongodb-watchdog-filter-form .form-item-severity {
  display: inline-block;
  margin: .1em .9em .1em .1em; /* LTR */
  max-width: 30%;
}
[dir="rtl"] .mongodb-watchdog-filter-form .form-item-type,
[dir="rtl"] .mongodb-watchdog-filter-form .form-item-severity {
  margin: .1em .1em .1em .9em;
}
.mongodb-watchdog-filter-form .form-actions {
  display: inline-block;
  padding: 3ex 0 0;
  vertical-align: top;
}
.mongodb-watchdog-user.odd .active {
  background: #ddf;
}
.mongodb-watchdog-user.even .active {
  background: #cce;
}
.mongodb-watchdog-error.odd .active {
  background: #ffc9c9;
}
.mongodb-watchdog-error.even .active {
  background: #eeb9b9;
}
.mongodb-watchdog-warning.odd .active {
  background: #fffdca;
}
.mongodb-watchdog-warning.even .active {
  background: #eeedbd;
}
.admin-mongodb-watchdog .icon,
.admin-mongodb-watchdog .mongodb-watchdog-warning .icon,
.admin-mongodb-watchdog .mongodb-watchdog-error .icon,
.admin-mongodb-watchdog .mongodb-watchdog-critical .icon,
.admin-mongodb-watchdog .mongodb-watchdog-alert .icon,
.admin-mongodb-watchdog .mongodb-watchdog-emergency .icon {
  background: no-repeat center;
  width: 16px;
}
.admin-mongodb-watchdog .mongodb-watchdog-warning .icon {
  background-image: url(../../../../core/misc/icons/e29700/warning.svg);
}
.no-svg .admin-mongodb-watchdog .mongodb-watchdog-warning .icon {
  background-image: url(../../../../core/misc/icons/e29700/warning.png);
}
.admin-mongodb-watchdog .mongodb-watchdog-error .icon,
.admin-mongodb-watchdog .mongodb-watchdog-critical .icon,
.admin-mongodb-watchdog .mongodb-watchdog-alert .icon,
.admin-mongodb-watchdog .mongodb-watchdog-emergency .icon {
  background-image: url(../../../../core/misc/icons/ea2800/error.svg);
}
.no-svg .admin-mongodb-watchdog .mongodb-watchdog-error .icon,
.no-svg .admin-mongodb-watchdog .mongodb-watchdog-critical .icon,
.no-svg .admin-mongodb-watchdog .mongodb-watchdog-alert .icon,
.no-svg .admin-mongodb-watchdog .mongodb-watchdog-emergency .icon {
  background-image: url(../../../../core/misc/icons/ea2800/error.png);
}
